{% extends "layout.html" %}
{% block title %}Access Denied{% endblock %}
{% block header %}
<div class="container border-0" id="fullsize">
  <div class="jumbotron" id="red">
    <div class="text-center">
        {% if login %}
        <h1>Access Denied</h1>
        <h3>Access To This Feature Is Denied For Your Account Type : {{type}}</h3>
        {% endif %}
        {% if not login %}
        <h1>Access Denied</h1>
        <h3>You Need To Login To Access This Feature</h3>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
